<html>

<head>
<title></title>
  <script src="../scripts/addOriginTrialToken.js"></script>
  <style type="text/css">
  #sandbox {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: none;
      display: block;
  }
  </style>

  <link rel="stylesheet" type="text/css" href="../scripts/lib/qowt/assets/common.css" />
  <link rel="stylesheet" type="text/css" href="../css/application.css" />

  <link rel="import" href="../scripts/common/elements/google-consumer-survey/google-consumer-survey.html">

  <script src="../scripts/configs/requirejsConfig.js"></script>
  <script data-main="../scripts/mainApp" src="../scripts/third_party/requireJs/require.js"></script>

</head>
<body>

<iframe id="sandbox" name="sandbox" allowfullscreen="true" sandbox="allow-scripts allow-modals allow-same-origin allow-popups" src="qowt.html"></iframe>

</body>

</html>
