<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../css/mainPopup.css" />

    <script src="../scripts/configs/requirejsConfig.js"></script>
    <script data-main="../scripts/mainPopup" src="../scripts/third_party/requireJs/require.js"></script>
  </head>
  <body>
    <div>
        <div id="newCreates">
          <div id="newHeading"></div>
          <div id="options"></div>
        </div>
        <hr />
        <div id = "messageBody"></div>
    </div>
    
  </body>
</html>